ul {
    list-style-type: none;
  }
li {
    color: red;
    display: inline;
    padding: 2%;
}
.nv {
    font-size: 20px;
    color: yellow;
    text-decoration: none;
}
a {
    color: brown;
    text-decoration: none;
}

 